*{margin: 0px;padding: 0px;list-style: none;text-decoration: none;box-sizing: border-box;}
:root{
    ----colorBlueDark:rgb(36, 42, 69) ;
    ----colorBlueLight:rgb(82, 103, 223) ;
    --colorRed:rgb(250, 89, 89) ;
    --colorGrey:rgb(91, 96, 116) ;
    --colorWhite:rgb(255,255,255) ;
}
html{max-width: 1440px;margin: 0px auto;}
body {margin: 0px auto;border:1px solid rgb(164, 164, 164);}
body header .container .navbar{max-width:90%;margin:48px auto;display: flex;justify-content: space-between;}
body header .container .navbar .logo{display: flex;align-items: center;}
body header .container .navbar .logo .icon{display: flex;align-items: center;}
body header .container .navbar .logo .icon svg:last-child{margin-left:12px;}
body header .container .navbar nav {display:flex;align-items: center;}
body header .container .navbar nav .list{display:flex;}
body header .container .navbar nav .list li{margin-right: 48px;}
body header .container .navbar nav .list li a{color:var(----colorBlueDark);}
body header .container .navbar nav .btn{color: var(--colorWhite);background-color:var(--colorRed);border: none;border-radius: 5px;padding: 5px;cursor: pointer;}
body header .container .contentBottom{display: flex;align-items: center;}
body header .container .contentBottom .contentLeft{max-width: 540px;margin-left: 100px;}
body header .container .contentBottom .contentLeft h1{color: var(----colorBlueDark);}
body header .container .contentBottom .contentLeft p{margin: 24px 0px;}
body header .container .contentBottom .contentLeft .btns button{display: inline-block;cursor: pointer;}
body header .container .contentBottom .contentLeft .btns button:first-child{padding: 5px;background-color: var(----colorBlueLight);color: var(--colorWhite);}
body header .container .contentBottom .contentLeft .btns button:last-child{background-color:transparent;color:var(--colorGrey);border: none;margin-left: 15px;}
body header .container .contentBottom .contentRight{width: 100%;position: relative;height: 507px;}
body header .container .contentBottom .contentRight .imgHeader{position: absolute;right: 0px;}
/*end header*/
/*start main*/
body main{margin: 48px auto;}
    /*start section_0*/
body main section.section_0 .container .features{margin: 48px auto;}
body main section.section_0 .container .content_top h1{display:block;text-align: center;color: var(----colorBlueDark);}
body main section.section_0 .container .content_top p{color: var(--colorGrey);text-align: center;max-width: 540px;margin: 0px auto;margin-top:12px;}
body main section.section_0 .container .slider .orders{display: flex;justify-content:center;align-items: center;padding-top: 24px;}
body main section.section_0 .container .slider .orders .order{display: block;color: var(--colorGrey);cursor: pointer;padding-bottom: 15px;border-bottom: 3px SOLID transparent;}
body main section.section_0 .container .slider .orders .order:hover{color: var(----colorBlueDark);border-bottom: 3px SOLID var(--colorRed);}
body main section.section_0 .container .slider .orders .order:first-child{border-bottom: 3px SOLID var(--colorRed);color: var(----colorBlueDark);}
body main section.section_0 .container .slider .orders .order:nth-child(2){margin: 0px 48px;}
body main section.section_0 .container .slider .contentsSlider{margin:48px 0px;display: flex;align-items: center;}
body main section.section_0 .container .slider .contentsSlider .contentLeft{width: 735px;position: relative;height: 507px;}
body main section.section_0 .container .slider .contentsSlider .contentLeft .imgSlider{position: absolute;left: 0px;}
body main section.section_0 .container .slider .contentsSlider .contentRight{max-width: 540px;margin-left: 100px;}
body main section.section_0 .container .slider .contentsSlider .contentRight .title{color: var(----colorBlueDark);}
body main section.section_0 .container .slider .contentsSlider .contentRight .description{color: var(--colorGrey);margin: 48PX 0px;}
body main section.section_0 .container .slider .contentsSlider .contentRight .btn{display: block; color: var(--colorWhite);background-color: var(----colorBlueLight);padding: 10PX;cursor: pointer;}
/*start section_1*/
body main section.section_1{margin-top:48px;}
body main section.section_1 .container .content_top h1{display:block;text-align: center;color: var(----colorBlueDark);}
body main section.section_1 .container .content_top p{color: var(--colorGrey);text-align: center;max-width: 540px;margin: 0px auto;margin-top:12px;}
body main section.section_1 .container .cardsExtension{display: flex;justify-content: center;padding: 48px 0px;margin-top: 24px;}
body main section.section_1 .container .cardsExtension .card {margin: 0px 48px;}
body main section.section_1 .container .cardsExtension .card.crdFirefox {margin-top: calc(48px*1);}
body main section.section_1 .container .cardsExtension .card.crdOpera {margin-top:calc(48px*2);}
body main section.section_1 .container .cardsExtension .card img,span{display: block;}
body main section.section_1 .container .cardsExtension .card img{margin: 0px auto;}
body main section.section_1 .container .cardsExtension .card span{text-align: center;}
body main section.section_1 .container .cardsExtension .card button{margin-top: 24px;padding: 10px;background-color: var(----colorBlueLight);color: var(--colorWhite);border: none;cursor: pointer;}
